{% load static %} 
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, maximum-scale=1.0">
    <title>Appointments</title>
    <link rel="stylesheet" href="{% static 'assets/css/styles.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/appointments.css' %}">
</head>
<body data-user-id="{{ request.user.id | default:'' }}">
    <div class="container">
        <div class="header">
            <a href="{% url 'home' %}" class="back-button">&#8592;</a>
            <div class="title-card">
                <h2>Appointments</h2>
            </div>
        </div>

        <div id="appointment-list-container" class="dynamic-list-container">
            </div>
    </div>

    <button class="add-fab right" onclick="openModal('appointment-modal')">+</button>

    <div id="appointment-modal" class="modal-overlay">
        <div class="modal-content">
            <h3>Add New Appointment</h3>
            <div class="modal-form-inputs">
                <input type="text" id="appt-doctor-input" placeholder="Doctor Name or Hospital">
                <input type="text" id="appt-location-input" placeholder="Location / Clinic Address">
                <input type="datetime-local" id="appt-datetime-input">
            </div>
            <div class="modal-buttons">
                <button class="cancel-btn" onclick="closeModal('appointment-modal')">Cancel</button>
                <button class="save-btn" onclick="saveReminder('appointment')">Save</button>
            </div>
        </div>
    </div>
    
    <div class="bottom-nav">
        <a href="{% url 'famil' %}"><img src="{% static 'assets/images/navbar/modules-active.png' %}" /></a>
        <a href="{% url 'leaderboard' %}"><img src="{% static 'assets/images/navbar/graph.png' %}" /></a>
        <a href="{% url 'notifications' %}"><img src="{% static 'assets/images/navbar/bell.png' %}" /></a>
        <a href="{% url 'settings' %}"><img src="{% static 'assets/images/navbar/settings.png' %}" /></a>
    </div>
    {% include 'chatbot.html' %}

    <script src="https://www.gstatic.com/firebasejs/8.10.1/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/8.10.1/firebase-firestore.js"></script>
    <script src="https://www.gstatic.com/firebasejs/8.10.1/firebase-messaging.js"></script>
    
    <script src="{% static 'assets/js/firebase-logic.js' %}"></script>
</body>
</html>